- if input_label
  %label{ for: attr_key,  class: "form-label" }= input_label

%select{ html_attributes.merge(vue_attributes) }
  - if placeholder
    %option{value: placeholder_value, disabled: true, selected: init_value.nil?}= placeholder
  - select_options.to_a.each do |item|
    %option{value: item_value(item), disabled: item_disabled(item)}= item_label(item)
= render_errors
- if form_text
  = render_form_text
